{% extends "layout.html" %}

{% block content %}

<div class="row" id="products_page">
    <div class="col-md-12">
        <h3>Products</h3>
        <hr>
        <div class="row">
            <form action="/finish" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group" id="payment_form_group">
                                <label for="card number"> Card Number</label>
                                <input type="text" name="card number" id="card number" class="form-control">
                            </div>
                            <div class="form-group" id="payment_form_group">
                                <label for="exp date">Exp Date</label>
                                <input type="text" name="exp date" id="exp date" class="form-control">
                            </div>
                            <div class="form-group" id="payment_form_group">
                                <label for="name">Name on Card</label>
                                <input type="text" name="name" id="name" class="form-control">
                            </div>
                            <div class="form-group" id="payment_form_group">
                                <label for="CVV">CVV</label>
                                <input type="text" name="CVV" id="CVV" class="form-control">
                            </div>
                            <div class="form-group" id="payment_form_group">
                                <label for="zip">Zip Code</label>
                                <input type="text" name="zip" id="zip" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="index_buttons">
                        <button type="submit" class="btn btn-primary" id="finish_button">Complete Payment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}